@import "root.css";
.text-editer-container{
    height: 100% ;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.text-input,.select-input{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
}
.text-input:focus ,.select-input:focus {
    outline: none !important;
    border:1px solid var(--bg-secondary);
    background-color: transparent;
}
.text-input::-webkit-outer-spin-button,
.text-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.text-input[type=number] {
  -moz-appearance: textfield;
}
